@model MovieSite.Models.ViewModels.AccountViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h3>Details Account</h3>
<div style="padding:10px 30px">
    <h4>
        Username : @Html.DisplayName(Model.Account.Name)
    </h4>
    <h4>
        Priority : @Html.DisplayName(Model.Account.Priority.ToString())
    </h4>
    <h4>
        Movies watched : @Html.DisplayName(Model.Account.Watched.ToString())
    </h4>
    <h3>My Reviews</h3>
    <table class="Table" style="width:300px; float:left">
        <thead>
            <tr>
                <th width="50px">
                    Title
                </th>
                <th width="50px">
                    Date
                </th>
                <th width="50px">
                    StarRating
                </th>
            </tr>
        </thead>
        @foreach (Review review in Model.Reviews)
         {
            <tbody>
                <tr>
                    <th>
                        @Html.DisplayName(review.Title)
                    </th>
                    <th>
                        @Html.DisplayName(review.Date.ToShortDateString())
                    </th>
                    <th>
                        @Html.DisplayName(review.StarRating.ToString())
                    </th>
                </tr>
            </tbody>
         }
    </table>
</div>

